/* BarChart.css */

.bar_chart {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    text-align: center;
     
  }
  
  .bar_chart h2 {
    margin-bottom: 20px;
  }
  
  
  .bar_chart canvas {
    width: 100% !important;
    height: auto !important;
  }
  